h2 {
    font-size: 14pt;
    font-family: Arial, sans;
  }
  
  h3, h4 {
    font-size: 12pt;
    font-family: Arial, sans;
  }
  
  body {
    font-size: 12pt;
    line-height: 1.5;
    font-family: "Times New Roman", serif;
  }
  
  @page
  {
      size: A4 portrait;
      margin: 30mm 30mm 30mm 30mm;
      padding: 0;
  }
  
  table tr td, table tr th, table, tr, thead, tbody {
      page-break-inside: avoid;
  }