<%

let meta = {
	extends: {
		fileName: "lib/" + Formatter.snakeCase(APPNAME) + "_web/templates/" + Formatter.snakeCase(entity.getName()) + "/new.html.eex",
		section: "<!-- end new resource -->",
		place: "after"
	}
} 

%>

<span><%%= link "Back", to: Routes.<%= Formatter.snakeCase(entity.getName()) %>_path(@conn, :index) %%></span>

