<%

let meta = {
	creates: {
		fileName: "lib/" 
		+ Formatter.snakeCase(APPNAME) 
		+ "_web/templates/" 
		+ Formatter.snakeCase(entity.getName()) 
		+ "/form.html.eex"
	},
	depends_on: [
		{ template: "../view/view.template.ejs", data: {entity: entity} }
	]
} 

let props = entity.getProps().filter(prop => prop.getName() != "ID")

function fmtName(propName) {
    return Formatter.snakeCase(propName)
}

%>

<%%= form_for @changeset, @action, fn f -> %%>
  <%%= if @changeset.action do %%>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <%% end %%>

  <% props.forEach(function(p) { %>
	<%%= label f, :<%=fmtName(p.getName()) %> %%>
  	<%%= text_input f, :<%=fmtName(p.getName()) %> %%>
  	<%%= error_tag f, :<%=fmtName(p.getName()) %> %%>
  <% }) %>

  <div>
    <%%= submit "Save" %%>
  </div>
<%% end %%>