<%

let entitysnake = Formatter.snakeCase(entity.name)
let meta = {
	extends: {
		fileName: "lib/" + Formatter.snakeCase(APPNAME) + "_web/templates/" + Formatter.snakeCase(entity.getName()) + "/show.html.eex",
		section: "<!-- end showing resource -->",
		place: "after"
	},
	sort: 1
} 

%>

<span><%%= link "Edit", to: Routes.<%=entitysnake %>_path(@conn, :edit, @<%=entitysnake %>) %%></span>